body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0a0f1f;
    color: #e0e0e0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(10, 10, 20, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #7bb8ff;
    text-shadow: 0 0 10px #4da6ff;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: #9ecbff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}

/* SECTION GENERAL */
.section {
    padding: 120px 30px 80px;
}

.section-title {
    font-size: 32px;
    text-align: center;
    color: #90cfff;
    text-shadow: 0 0 10px #4da6ff;
    margin-bottom: 40px;
}

.home {
    text-align: center;
    padding-top: 160px;
}

.glow-title {
    font-size: 45px;
    color: #b3dcff;
    text-shadow: 0 0 15px #5bc0ff, 0 0 30px #2980ff;
}

.home-sub {
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.8;
}

/* CARDS */
.card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media(min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: #121a2d;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #23345a;
}

.neon-card:hover {
    border-color: #5bc0ff;
    box-shadow: 0 0 20px #2980ff;
    transition: 0.3s;
}

/* CENTER TEXT */
.center {
    text-align: center;
}
